html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0;
	font-family: 'avenir', sans-serif;
	color: #ffffff;
	background-color: #01030B;
}

.navbar-nav {
	margin: 0;
	list-style: none;
	background-image: url("../images/galaxy.jpg");	display: inline-block;
	padding: 0;
	width: 100%;
}

ul.wrapper {
	padding-left: 0;
}

.navbar-nav .nav-item {
	float: left;
	background: none;
	display: grid;
}

.navbar-nav .nav-item a {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	margin: 10px 15px;
	border-radius: 4px;
}

.navbar-nav .nav-item a:first-child {
	margin-left: 0;
}

.navbar-nav .nav-item.active a,
.navbar-nav .nav-item a:hover {
	color: #1b1b1b;
	background: #ffffff;
}

.navbar-nav .username {
	float: right;
	list-style: none;
	font-size: 20px;
	font-weight: bold;
	margin-top: 15px;
}

.wrapper {
	margin: 0 auto;
	width: 92%;
	max-width: 900px;
}

form {
	width: 400px;
}

.restrained {
	width: 400px;
}

input {
	padding: 10px 20px;
	font-size: 20px;
	width: calc(100% - 45px);
}

.button {
	border-radius: 4px;
	padding: 10px 15px;
	background-color: #c344ad;
	cursor: pointer;
	color: #2c2c2c;
	text-align: center;
	width: 100%;
	display: block;
	margin: 10px 0;
	border: 0;
	font-size: 25px;
	text-decoration: none;
}

.button:hover {
	background-color: #4bc4b7;
}

.answer {
	background: #fff;
	color: #2c2c2c;
	padding: 10px 15px;
	border-radius: 4px;
	margin: 10px 0;
}

.answer h2 {
	margin: 0;
}

.leaderboard-list li {
	font-size: 15px;
	margin-left: 19px;
}
.mainTitle{
	text-align: center;
    background-color: #1EDA4F;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-weight: bold;
    padding: 18px;
}
.mainText{
	text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size:30px;
}
.formInput{
	text-align: center;
    width: 60%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}