{% extends "base.html" %}

{% block content %}
	<div class="restrained">
		<h1>Answers</h1>
		<h2>Your score was {{score}} out of {{riddle_index}}</h2>
		<h3>See where you sit on our leaderboard</h3>
		<a class="button" href="{{ url_for('leaderboard') }}">Leaderboard</a>
	</div>
	<div class="answersText">
		{% for answer in answers %}
		<div class="answer">
			<h2>Question {{ loop.index }}</h2>
			<b>You answered {{ answer.userAnswer }}</b><br />
			<b>Correct answer is: 
				{% if answer.realAnswer|length > 1 %}
					{{ answer.realAnswer[0] }} or {{ answer.realAnswer[1] }}
				{% else %}
					{{ answer.realAnswer[0] }}
				{% endif %}</b>
			<br />
			This was {% if answer.status %}<span style="color: green">Correct!</span>{% else %}<span style="color: red">Wrong!</span>{% endif %}
		</div>
		{% endfor %}
	</div>
			
	
{% endblock %}