<!DOCTYPE html>
<html>
    <head>
        <title>Science Riddle App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    </head>
    <body>
      <nav class="navbar-nav">
        <ul class="wrapper">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Science Riddle App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
          </li>
          {% if username %}
          <li class="username">Player: {{username}}</li>
        {% endif %}
        </ul>
      </nav>
      <div class="wrapper">
        {% block content %}{% endblock %}
      </div>
    </body>
</html>