{% extends "base.html" %}

{% block content %}
	<header>
		<div class="mainText">
			<h2>{{riddle_data[riddle_index].question}}</h2>
		</div>
	</header>
	<form method="POST" class="formInput">
			<input type="text" id="answer" name="answer" autofocus placeholder="Answer here..." autocomplete="off">
			<input type="hidden" name="riddle_index" id="riddle_index" value={{riddle_index}}>
			<button class="button">
				{% if not is_last_question %}
					Next Question
				{% else %}
					Submit answers
				{% endif %}
			</button>
	</form>
{% endblock %}